# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[Makefile]
# Required for MakeFile
indent_style = tab

[*.{py,php,md,rst,rb,txt}]
indent_size = 4

[*.{yml,yaml,js,jsx,css,htm,html,volt,blade,j2,jinja2,jade}]
indent_size = 2

[*.{gitconfig,bashrc,bash_aliases,bash_profile,profile,exports,jscsrc,jshintrc,vimrc}]
indent_size = 2

[{package.json, bower.json}]
indent_size = 2

[/etc/apache2/sites-available/**.conf]
indent_size = 2

[/etc/nginx/etc/nginx/sites-available/*]
indent_size = 2
