{
  // npm install -g eslint
  // Point editor to /path/to/.npm/node_modules/eslint
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "phantomjs": true
  },
  "extends": "eslint"
}
