{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["import"],
  "globals": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "impliedStrict": false
    },
    "sourceType": "module"
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "array-bracket-newline": 0,
    "array-bracket-spacing": [2, "always"],
    "arrow-body-style": [2, "always"],
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": [2, { "properties": "always" }],
    "comma-dangle": [2, "always-multiline"],
    "comma-spacing": "error",
    "curly": "error",
    "eol-last": [2],
    "indent": [2, 2],
    "jsx-quotes": "error",
    "keyword-spacing": [2],
    "linebreak-style": [2, "unix"],
    "lines-between-class-members": "error",
    "no-compare-neg-zero": "error",
    "no-console": 0,
    "no-dupe-class-members": "error",
    "no-else-return": "error",
    "no-tabs": "error",
    "no-underscore-dangle": 0,
    "no-var": [2],
    "object-curly-newline": "error",
    "object-curly-spacing": "error",
    "object-property-newline": "error",
    "padded-blocks": [2, { "classes": "always" }],
    "prefer-const": [2],
    "prefer-template": "error",
    "quotes": [2, "single"],
    "rest-spread-spacing": "error",
    "semi-spacing": "error",
    "semi": [2, "always"],
    "space-before-function-paren": "error",
    "wrap-iife": [2],
    "wrap-regex": "error",
    "yield-star-spacing": "error",
    "yoda": 0
  }
}
