[client]
user = root
password = root
host = localhost
port = 3306

default-character-set = UTF8


[mysqld]
local_infile=ON

collation_database = utf8_general_ci
collation_server   = utf8_general_ci


