extends: stylelint-config-standard
plugins:
  - autoprefixer
  - postcss-calc
  - postcss-colormin
  - postcss-discard-comments
  - postcss-discard-duplicates
  - postcss-discard-empty
  - postcss-flexbugs-fixes
  - postcss-import
  - postcss-minify-font-values
  - postcss-minify-gradients
  - postcss-minify-params
  - postcss-minify-selectors
  - postcss-nested
  - postcss-ordered-values
  - postcss-reduce-transforms
  - postcss-scss
rules:
  - at-rule-empty-line-before: never
  - at-rule-name-case: lower
  - rule-empty-line-before: false
  - scss/at-rule-no-unknown: true
  - scss/at-rule-no-vendor-prefix: true
  - scss/max-nesting-depth: 3
  - scss/media-feature-name-no-vendor-prefix: true
  - scss/property-no-vendor-prefix: true
  - scss/selector-no-vendor-prefix: true
  - scss/value-no-vendor-prefix: true
