#!/bin/bash
# apt install xserver-xorg-input-synaptics -y

if [[ $XDG_SESSION_TYPE != 'wayland' ]]; then
  if [ -e /usr/bin/synclient ]; then
    echo "(+) init ~/.xprofile"
    synclient PalmDetect=1
    synclient PalmMinWidth=5
    synclient PalmMinZ=30
    synclient PressureMotionMinZ=120

    synclient FingerLow=20
    synclient FingerHigh=40

    synclient HorizEdgeScroll=0
    synclient HorizTwoFingerScroll=1
    synclient VertEdgeScroll=0
    synclient LeftEdge=122
    synclient RightEdge=2500

    # Run $ evtest | grpe -E "ABS_X|ABS_Y"  --color=always | ccze -A
    synclient AreaRightEdge=5300
    synclient AreaLeftEdge=1400
    synclient AreaTopEdge=71

    # Testing
    synclient VertScrollDelta=500
    synclient ClickPad=1
    synclient SingleTapTimeout=100
    synclient CoastingSpeed=20
    synclient CoastingSpeed=20
  fi
fi
