[Desktop Entry]
Name=Firefox Developer
GenericName=Firefox Developer Edition
Exec=/home/jesse/apps/firefox/firefox %u
Terminal=false
Icon=/home/jesse/apps/firefox/browser/chrome/icons/default/default128.png
Type=Application
Categories=Application;Network;X-Developer;
Comment=Firefox Developer Edition Web Browser.
# cp firefox-developer.desktop ~/.local/share/applications
